{% extends 'base.html.twig' %}

{% block titre %}{% endblock%}

{% block stylesheets %}
    {{ parent() }}
{% endblock%}

{% block body %}
    
    <style>
        #emplois
        {
            margin-top: 100px;
            margin-bottom: 150px;
        }

        .single-emploi
        {
            margin-bottom: 20px;
            border-bottom: 2px solid #ccc;
        }

        .single-emploi h1, .single-emploi a
        {
            font-size: 22px;
            color: #999;
            text-decoration: none;
        }
    </style>

    <section id="emplois">
        <div class='container'>
            <div class='row'>
                <div class='col-md-3'>
                    <p>{{ emploi.getTitre() }}</p>
                    <p>Type de contrat: {{ emploi.getContrat() }}</p>
                    <p>Salaire: {{ emploi.getSalaire() }} DT</p>
                    <p>Société: {{ emploi.getSociete() }}</p>
                    <p>Addresse: {{ emploi.getAddresse() }}</p>
                    <p>Ajouté le {{ emploi.getCreatedAt()|date('d-m-Y') }}</p>
                </div>

                <div class='col-md-1'></div>

                <div class='col-md-6'>
                    <div class='single-emploi'>
                        <p>{{ emploi.getDescription() }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}{% endblock %}